# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version
*.egg-info/
dist/
build/

# DBT
dbt_project/logs
dbt_project/target
dbt_project/dbt_packages/
dbt_project/.user.yml
dbt_project/profiles.yml

# Dagster
.tmp_dagster_*
dagster_home/
dagster.yaml

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# DuckDB
*.duckdb
*.duckdb.wal
*.pyc

# Virtual Environment
.venv/
venv/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
__pycache__
dbt/target
src/jaffle_platform/defs/__pycache__/

# Ignorer les packages dbt installés
/dbt/dbt_packages/
dbt/dbt_packages/
dbt_packages/
dbt/logs/dbt.log
dbt/target 
dbt_project/target/jaffle_platform-2a853ae-88dcda0/run/jaffle_platform/models/marts/supplies.yml/not_null_supplies_cost.sql
sqlmesh_project/logs/
sqlmesh_project/.cache/
logs/
.telemetry
storage
